* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-one {
    display: flex;
    flex-direction: column;
    padding: 16px 200px;
    background-color: #1F2937;
    color: white;
    gap: 64px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-things {
    display: flex;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-things-left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}